#DownStairs{
	
	background-color: lightgrey;
	height: 50px;
	display: flex;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 2vw;
	padding: 5vw;
	
}
#logo{
	width: 70px;
	height: 40px;
	color: white;
	padding: 5vw;
}

#design{
	width: 90px;
	height: 60px;
	color: white;
	padding: 5vw;
}
header{
	
	display: flex;
	font-family: 'Roboto', sans-serif;
	background-color: lightgrey;

}
h1{
	font-family: 'Lobster', cursive;
	font-size: 10vw;
	
}

h3{
	font-family: 'Roboto', sans-serif;
}
p{
	font-family: 'Roboto', sans-serif;
}

nav{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	text-decoration: none;
	padding: 5vw;
	color: white;
	background-color: grey;
	border-radius: 10px;
	
	
}
#sub-list{
	/*display: none;*/
}

ul{
	display: flex;
	justify-content: space-between;
	padding: 5px;
	list-style-type: none;
	text-decoration: none;
	margin: 10px;
	
}
li{
	list-style-type: none;
	text-decoration: none;
	padding: 10%;
	justify-content: space-between;
	
}
a{
	color: white;
	text-decoration: none;
}

.alert-danger {
    color: #721c24;
    background-color: white;
    border-color: #f5c6cb;
}

.sandrine{
	margin-bottom: 50px;
	width: 100%;
}

.username-available{color: green;}
.username-unavailable{color:red;}

 .p-1 {padding: 1em;}
 .p-2 {padding: 2em;}
 .p-3 {padding: 3em;}
.p-4 {padding: 4em;}
.p-5 {padding: 5em;}

.tm-1 {margin-top: 5em;}
.tm-2 {margin-top: 5em;}
.tm-5 {margin-top: 5em;}
.tm-10 {margin-top: 10em;}
.bm-1 {margin-bottom: 5em;}
.bm-2 {margin-bottom: 5em;}
.bm-5 {margin-bottom: 5em;}
.bm-10 {margin-bottom: 10em;}

.b-warning {border-left: 4px solid #aa6708}

