<header>
<img id="design" alt="Logo" src="img/logo.png">
<div>


<h1>Project Manager</h1>
<h3>There are many variations of passages of Lorem Ipsum available. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</h3>
</div>

</header>