<nav><ul>
			<button type="button" class="btn btn-secondary btn-sm"><a href="{{ path('homepage') }}">HOME</a></button>
		<div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PROJECT
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">List Projects</a>
            <a class="dropdown-item" href="{{ path('add_product') }}">Add Project</a>
          </div>
		</div>
	</ul>
	<ul>
		<button type="button" class="btn btn-secondary btn-sm"><a href="#">LOGIN</a></button>
		<button type="button" class="btn btn-secondary btn-sm"><a href="{{ path('add_user') }}">REGISTER</a></button>
	</ul>
	
	
</nav>