<nav><ul>
		<li><a href="#">HOME</a></li>
		<li><a href="#">PROJECT</a></li>
			<ul id="sub-list">
			<li><a href="#">List Projects</a></li>
			<li><a href="Product/addProduct.html.twig">Add Projects</a></li>
			</ul>
	</ul>
	<ul>
		<li><a href="#">LOGIN</a></li>
		<li><a href="#">REGISTER</a></li>
	
	</ul>
	
</nav>